header{
    background-color: #000b76 ;
    color:#fff;
    text-align: center;
    max-width: 800px;
    margin:0 auto;
}


main{
    background-color:#000b76;
    max-width: 800px;
    margin:0 auto; 
    padding: 16 px;

    }

    img{
        width: 80px;
        height: 80px;
    }


